.test {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // width: 100%;
  height: 300px;
  font-size: 2.4rem;
  margin-bottom: 200px;
  background-color: red;
  align-items: baseline;
  align-content: center;

  &--1 {
    height: 150px;
    background-color: blueviolet;
    display: flex;

    & > p {
      flex: 1;
      color: white;
      align-self: flex-end;
    }
  }

  &--2 {
    height: 90px;
    background-color: burlywood;
    display: flex;

    & > p {
      flex: 1;
      color: white;
      align-self: center;
    }
  }

  &--3 {
    height: 100px;
    background-color: darkcyan;
    display: flex;

    & > p {
      flex: 1;
      color: white;
      align-self: flex-end;
    }
  }

  &--4 {
    height: 130px;
    background-color: darkseagreen;
    display: flex;

    & > p {
      flex: 1;
      color: white;
      align-self: flex-start;
    }
  }
}
